<div class="ui container xyz">
<span>
    © 2018 Hitesh Patidar<br>
</span>
<a class="xyz" href="https://www.facebook.com/hiteshpatidar05"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
<a class="xyz" href="twitter.com/patidarhitesh5"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
<a class="xyz" href="linkedin.com/in/hiteshpatidar/"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
<a class="xyz" href="https://plus.google.com/u/0/117456949594639648496"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>

</div>

</body>
</html>